html{
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    background-image: url("../img/popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

    overflow-x: hidden;
}